<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="LOGCAT" class="ch.qos.logback.classic.android.LogcatAppender">
        <encoder>
            <pattern>%logger{24} - %msg</pattern>
        </encoder>
    </appender>

    <appender name="APP_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DATA_DIR}/logs/iepca-mobile.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${DATA_DIR}/logs/iepca-mobile.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>512KB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <logger name="com.iepca.app" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="LOGCAT"/>
        <appender-ref ref="APP_FILE"/>
    </root>
</configuration>
